
Colores = {
		Jaune : {
			Soleil : lighten(blend(rgba(orange, 0.5), yellow), 30%),
			Cromato : #FFCC0F,
			Napoleto : #ECCD6A,
			Indio : #FF7430
		}
		Azul : {
			Cielo : blend(rgba(cyan, 0.7), royalblue),
			Nubes : lightness(blend(rgba(cyan, 0.7), royalblue), 86%),
			Gris : darken(blend(rgba(cyan, 0.8), saturate(blend(rgba(violet, 0.3), royalblue), 90%)), 80%),
			Noir : darken(blend(rgba(cyan, 0.2), saturate(blend(rgba(violet, 0.3), royalblue), 90%)), 90%),
			Lazuli : darken(blend(rgba(cyan, 0.2), saturate(blend(rgba(violet, 0.3), royalblue), 90%)), 50%)
		}
		Verde : {
			Vert : blend(rgba(#006A4E, 0.6), blend(rgba(cyan, 0.7), royalblue)),
			Oscuro : darken(blend(rgba(#006A4E, 0.6), blend(rgba(cyan, 0.7), royalblue)), 40%),
			"Río" : blend(rgba(#006A4E, 0.5), blend(rgba(cyan, 0.2), lightness(royalblue, 90%)))
		}
		Rouge : {
			Crimson : rgb(220, 20, 60)
			Vermillon : #FF0921
			Blanc : lighten(#FF0921, 90%)
			Amarante : #91283B
		}
}
