transition(name="fade"): div(v-if="data.length && selection == 'view'")
	hr
	p.control.is-expanded: span.select.is-fullwidth: select(v-model="item").options
		option(value="default" disabled hidden) Select an item...
		option(v-for="item in data" :value="item.index") {{ capatalize(item.name) }}
transition(name="fade"): div(v-if="data.length && selection == 'view' && item != 'default'")
	hr
	.field.has-addons.has-addons-centered
		p.control: input.button.is-primary.is-inverted(value='Preview' type="button" @click="previewData(false)")
		p.control: input.button.is-info.is-inverted(value='Edit' type="button" @click="editData()")
		p.control: input.button.is-danger.is-inverted(value='Delete' type="button" @click="deleteData()")
