transition(name="fade"): form.field.is-grouped.is-grouped-centered(v-if="selection == 'enter'")
	.columns
		.form-column
			for data in ["name", "category", "price", "photo"]
				- var Data = data.charAt(0).toUpperCase() + data.slice(1)
				label.label=Data
				.control: input.input(v-model=data placeholder=Data + " of the item." type="text")
		.form-column
			label.label Description
			.control: textarea.input(v-model="description" placeholder="Description of the item.")
	hr
	.field.has-addons.has-addons-centered
		p(v-if="hideReplaceButton").control: input.button.is-primary.is-inverted(value="Review" type="button" @click="reviewData()" :disabled="disabledReviewButton")
		p(v-if="!hideReplaceButton").control: input.button.is-danger(value="Cancel" type="button" @click="cancelData()")
		p(v-if="!hideReplaceButton").control: input.button.is-warning(value="Replace" type="button" @click="replaceData()" :disabled="disabledReplaceButton")
		p.control: input.button.is-danger.is-inverted(value="Clear Entry" type="button" @click="resetData(true)")
