<transition name="fade">
  <div v-if="data.length &amp;&amp; selection == 'view'">
    <hr/>
    <p class="control is-expanded"><span class="select is-fullwidth"><select class="options" v-model="item"><option value="default" disabled="disabled" hidden="hidden">Select an item...</option><option v-for="item in data" :value="item.index">{{ capatalize(item.name) }}</option></select></span></p>
  </div>
</transition>
<transition name="fade">
  <div v-if="data.length &amp;&amp; selection == 'view' &amp;&amp; item != 'default'">
    <hr/>
    <div class="field has-addons has-addons-centered">
      <p class="control"><input class="button is-primary is-inverted" value="Preview" type="button" @click="previewData(false)" /></p>
      <p class="control"><input class="button is-info is-inverted" value="Edit" type="button" @click="editData()" /></p>
      <p class="control"><input class="button is-danger is-inverted" value="Delete" type="button" @click="deleteData()" /></p>
    </div>
  </div>
</transition>
