<transition name="fade">
  <div class="showcase" id="errors" v-if="!disabledErrors">
    <article class="message is-warning">
      <div class="message-header">
        <p>Warning</p><button class="delete" aria-label="delete" @click="redisable()"></button></div>
      <div class="message-body">
        <h3 class="is-3">The following errors have been found with the data you entered:</h3>
        <ol>
          <li class="error" v-for="error in errors">{{error}}</li>
        </ol>
      </div>
    </article>
  </div>
</transition>
