transition(name="fade"): #errors.showcase(v-if="!disabledErrors")
	.notification.is-warning
		button.delete(aria-label='delete' @click="redisable()")
		h3.is-3 The following errors have been found with the data you entered:
		hr
		ol
			li.error(v-for="error in errors") {{error}}
