transition(name="fade"): nav.panel.view(v-if="selection == 'view'")
	h2.panel-heading.has-text-centered Total Items: {{this.menu.length}}
	.list: .panel-block(v-for="item in menu")
		.box.columns.is-multiline.is-mobile.is-centered
			img.image.column.is-one-quarter(:src="item.photo")
			h2.column.is-one-quarter.is-info {{item.name}}
			h2.column.is-one-quarter.is-info {{item.price}}
			h2.column.is-one-quarter.is-info {{item.category}}
