head
		title Menu Editor
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")/
		meta(name="robots" content="noindex")/
		link(rel="shortcut icon" type="image/x-icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/620811/G%20Logo.ico")
		link(rel="stylesheet prefetch", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Poppins:500")
		link(href="https://fonts.googleapis.com/css?family=Merienda+One|Miriam+Libre" rel="stylesheet")
