.options
	flex-grow 0
	display flex
	align-content space-between
	justify-content center
	align-items space-between
	option, option *
		font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size 3.75vmin
		background rgba(white, .85)
		text-align center
		padding 4vmin 2vmin
		text-transform capitalize
